* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


.backgroundImg {
    width: 100%;
    height: 90%;
    position: absolute;
    background-image: url(./Assets/images/fraichesFondo\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}

main {
    position: relative;
}


.main-nav {
    width: 100%;
    height: 35px;
    background-color: rgb(149, 245, 223);
    text-align: end;
}

.main-nav ul li {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 20px;
}

.info {
    width: 80%;
    margin: 0 auto;
}

#welcome-title {
    width: 535px;
    height: 150px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 30px;
    padding-top: 40px;
    font-size: 5rem;
}

.text {
    font-size: 2rem;
    font-weight: 500;
}

.options {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 80px;
}

.options h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 60px;
}

.options ul li {
    display: inline-block;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    padding-top: 8px;
    background-color: rgb(149, 245, 223);
    font-size: 2rem;
    font-weight: 500;
}

#of {
    margin-right: 200px;
}

#pH {
    margin-right: 200px;
}

#pM {
    padding-right: 5px;
}

.ofertas {
    cursor: pointer;
}



.perfMan-menu {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 400px;
    margin: 0 auto;
}

.product {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    background-color: #92dfe9;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#img1 {
    width: 150px;
    height: 150px;
}

#img2 {
    width: 150px;
    height: 150px;
}

#img3 {
    width: 150px;
    height: 150px;
}

.product p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}


.inactive {
    display: none;
}